<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jogo Secreto</title>
    <link rel="stylesheet" type="text/css" href="/styles/styleJogoSecreto.css">
</head>
<body>
<div class="card">
    <h1>Jogo Secreto</h1>

    <div th:if="${jogoAtivo}">
        <p>Adivinhe o número secreto <br>
                (entre 0 e 99):</p>
        <form th:action="@{/game}" method="post">
            <input type="number" name="palpite" required />
            <button type="submit">Chutar</button>
            <p th:text="${mensagem}"></p>
        </form>
    </div>
    <div th:if="${!jogoAtivo}">
        <h1 th:text="${parabens}"></h1>
        <p th:text="${mensagem}"></p>
        <p th:if="${!jogoAtivo}"><br><span th:text="${palpite}"></span></p>
        <a th:href="@{/reset}" class="button">Jogar Novamente</a>
    </div>
</div>
</body>
</html>
